In [1]:
# Import the dependency.
import pandas as pd
from pathlib import Path

In [4]:
#importing lat and lng data from our North America dataset

lat_lng = Path("../Data/zip_to_lat_lon_North_America.csv")

lat_lng_df = pd.read_csv(lat_lng)

lat_lng_df.tail()

/var/folders/qy/tzsk1z093rxg3c6fl6r124p40000gn/T/ipykernel_23093/2560635865.py:5: DtypeWarning: Columns (1,4) have mixed types. Specify dtype option on import or set low_memory=False.
  lat_lng_df = pd.read_csv(lat_lng)

,country code,postal code,place,state,statecode,province_or_county,province_or_countycode,community,communitycode,latitude,longitude,accuracy,Country,Continent
189886,VI,801,St Thomas,Vi,78,St. Thomas,30.0,NaN,NaN,18.3484,-64.9740,6.0,U.S. Virgin Islands,North America
189887,VI,802,St Thomas,Vi,78,St. Thomas,30.0,NaN,NaN,18.3387,-64.9160,6.0,U.S. Virgin Islands,North America
189888,VI,803,St Thomas,Vi,78,St. Thomas,30.0,NaN,NaN,18.3223,-64.9637,NaN,U.S. Virgin Islands,North America
189889,VI,804,St Thomas,Vi,78,St. Thomas,30.0,NaN,NaN,18.3223,-64.9637,NaN,U.S. Virgin Islands,North America
189890,VI,805,St Thomas,Vi,78,St. Thomas,30.0,NaN,NaN,18.3223,-64.9637,NaN,U.S. Virgin Islands,North America

In [5]:
#Previewing the column names and counts
lat_lng_df.count()

country code              189891
postal code               189891
place                     189891
state                     188801
statecode                 188803
province_or_county        187347
province_or_countycode    186612
community                  51700
communitycode              51700
latitude                  189891
longitude                 189891
accuracy                  189280
Country                   189891
Continent                 189891
dtype: int64

In [6]:
#dropping unnecessary column names
lat_lng_df_cleaned = lat_lng_df.drop(columns=['province_or_county', 'province_or_countycode', 'community', 'communitycode'])
lat_lng_df_cleaned.head()

,country code,postal code,place,state,statecode,latitude,longitude,accuracy,Country,Continent
0,BM,DV 01,Devonshire,Devonshire Parish,1,32.3028,-64.7558,NaN,Bermuda,North America
1,BM,DV 02,Devonshire,Devonshire Parish,1,32.3028,-64.7558,NaN,Bermuda,North America
2,BM,DV 03,Devonshire,Devonshire Parish,1,32.3028,-64.7558,NaN,Bermuda,North America
3,BM,DV 04,Devonshire,Devonshire Parish,1,32.3028,-64.7558,NaN,Bermuda,North America
4,BM,DV 05,Devonshire,Devonshire Parish,1,32.3028,-64.7558,NaN,Bermuda,North America

In [7]:
#confirming column names were dropped 
lat_lng_df_cleaned.count()

country code    189891
postal code     189891
place           189891
state           188801
statecode       188803
latitude        189891
longitude       189891
accuracy        189280
Country         189891
Continent       189891
dtype: int64

In [8]:
#seeing the names of the different countries in our dataframe
countries = lat_lng_df_cleaned['Country'].value_counts()
countries

Country
Mexico                       144655
United States                 41470
Canada                         1656
Guatemala                       548
Dominican Republic              544
Costa Rica                      473
Puerto Rico                     177
Bermuda                         112
Guadeloupe                      105
Martinique                      100
Greenland                        33
U.S. Virgin Islands              16
Saint Pierre and Miquelon         2
Name: count, dtype: int64

In [9]:
#Dropping any country that isn't United States
#May come back and make this more efficent 
lat_lng_df_cleaned = lat_lng_df_cleaned.drop(lat_lng_df_cleaned[lat_lng_df_cleaned['Country'] == 'Mexico'].index)
lat_lng_df_cleaned = lat_lng_df_cleaned.drop(lat_lng_df_cleaned[lat_lng_df_cleaned['Country'] == 'Canada'].index)
lat_lng_df_cleaned = lat_lng_df_cleaned.drop(lat_lng_df_cleaned[lat_lng_df_cleaned['Country'] == 'Guatemala'].index)
lat_lng_df_cleaned = lat_lng_df_cleaned.drop(lat_lng_df_cleaned[lat_lng_df_cleaned['Country'] == 'Dominican Republic'].index)
lat_lng_df_cleaned = lat_lng_df_cleaned.drop(lat_lng_df_cleaned[lat_lng_df_cleaned['Country'] == 'Costa Rica'].index)
lat_lng_df_cleaned = lat_lng_df_cleaned.drop(lat_lng_df_cleaned[lat_lng_df_cleaned['Country'] == 'Puerto Rico'].index)
lat_lng_df_cleaned = lat_lng_df_cleaned.drop(lat_lng_df_cleaned[lat_lng_df_cleaned['Country'] == 'Bermuda'].index)
lat_lng_df_cleaned = lat_lng_df_cleaned.drop(lat_lng_df_cleaned[lat_lng_df_cleaned['Country'] == 'Guadeloupe'].index)
lat_lng_df_cleaned = lat_lng_df_cleaned.drop(lat_lng_df_cleaned[lat_lng_df_cleaned['Country'] == 'Martinique'].index)
lat_lng_df_cleaned = lat_lng_df_cleaned.drop(lat_lng_df_cleaned[lat_lng_df_cleaned['Country'] == 'Greenland'].index)
lat_lng_df_cleaned = lat_lng_df_cleaned.drop(lat_lng_df_cleaned[lat_lng_df_cleaned['Country'] == 'U.S. Virgin Islands'].index)
lat_lng_df_cleaned = lat_lng_df_cleaned.drop(lat_lng_df_cleaned[lat_lng_df_cleaned['Country'] == 'Saint Pierre and Miquelon'].index)

us_lat_lng_df = lat_lng_df_cleaned['Country'].value_counts()
us_lat_lng_df

Country
United States    41470
Name: count, dtype: int64

In [10]:
#previewing the new dataframe
lat_lng_df_cleaned.head()

,country code,postal code,place,state,statecode,latitude,longitude,accuracy,Country,Continent
148405,US,99553,Akutan,Alaska,AK,54.1430,-165.7854,1.0,United States,North America
148406,US,99571,Cold Bay,Alaska,AK,55.1858,-162.7211,1.0,United States,North America
148407,US,99583,False Pass,Alaska,AK,54.8542,-163.4113,1.0,United States,North America
148408,US,99612,King Cove,Alaska,AK,55.0628,-162.3056,1.0,United States,North America
148409,US,99661,Sand Point,Alaska,AK,55.3192,-160.4914,1.0,United States,North America

In [11]:
#Renaming column name to prepare the dataframe for merging 
lat_lng_df_cleaned = lat_lng_df_cleaned.rename(columns={'postal code': 'zip code'})

lat_lng_df_cleaned.head()

,country code,zip code,place,state,statecode,latitude,longitude,accuracy,Country,Continent
148405,US,99553,Akutan,Alaska,AK,54.1430,-165.7854,1.0,United States,North America
148406,US,99571,Cold Bay,Alaska,AK,55.1858,-162.7211,1.0,United States,North America
148407,US,99583,False Pass,Alaska,AK,54.8542,-163.4113,1.0,United States,North America
148408,US,99612,King Cove,Alaska,AK,55.0628,-162.3056,1.0,United States,North America
148409,US,99661,Sand Point,Alaska,AK,55.3192,-160.4914,1.0,United States,North America

In [12]:
#Importing our second dataframe, which contains information on hospitals and providers
hospitals_data = Path("../Data/Medicare_Provider_Charge_Inpatient_DRGALL_FY2014.xlsx")

hosptials_df = pd.read_excel(hospitals_data, header = 5)


hosptials_df.head()

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region (HRR) Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,13,1.172866e+06,251876.307692,244457.923077
1,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,30103,MAYO CLINIC HOSPITAL,5777 EAST MAYO BOULEVARD,PHOENIX,AZ,85054,AZ - Phoenix,20,4.375313e+05,240422.800000,133509.550000
2,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,50108,SUTTER GENERAL HOSPITAL,2801 L STREET,SACRAMENTO,CA,95816,CA - Sacramento,25,8.156741e+05,233197.480000,221681.800000
3,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,50262,RONALD REAGAN U C L A MEDICAL CENTER,757 WESTWOOD PLAZA,LOS ANGELES,CA,90095,CA - Los Angeles,14,1.499044e+06,415968.785714,366608.928571
4,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,50441,STANFORD HOSPITAL,300 PASTEUR DRIVE,STANFORD,CA,94305,CA - San Mateo County,23,2.238699e+06,420865.478261,403453.652174

In [13]:
#looking at the count and column names
hosptials_df.count()

DRG Definition                                202656
Provider Id                                   202656
Provider Name                                 202656
Provider Street Address                       202656
Provider City                                 202656
Provider State                                202656
Provider Zip Code                             202656
Hospital Referral Region (HRR) Description    202656
Total Discharges                              202656
Average Covered Charges                       202656
Average Total Payments                        202656
Average Medicare Payments                     202656
dtype: int64

In [14]:
#Renaming the zip code column to prepare it for a merge 
hosptials_df = hosptials_df.rename(columns={'Provider Zip Code': 'zip code'})

hosptials_df.head()

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,zip code,Hospital Referral Region (HRR) Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,13,1.172866e+06,251876.307692,244457.923077
1,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,30103,MAYO CLINIC HOSPITAL,5777 EAST MAYO BOULEVARD,PHOENIX,AZ,85054,AZ - Phoenix,20,4.375313e+05,240422.800000,133509.550000
2,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,50108,SUTTER GENERAL HOSPITAL,2801 L STREET,SACRAMENTO,CA,95816,CA - Sacramento,25,8.156741e+05,233197.480000,221681.800000
3,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,50262,RONALD REAGAN U C L A MEDICAL CENTER,757 WESTWOOD PLAZA,LOS ANGELES,CA,90095,CA - Los Angeles,14,1.499044e+06,415968.785714,366608.928571
4,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,50441,STANFORD HOSPITAL,300 PASTEUR DRIVE,STANFORD,CA,94305,CA - San Mateo County,23,2.238699e+06,420865.478261,403453.652174

In [15]:
#merging the two dataframes together based on the column 'zip code'
merged_data_df = pd.merge(hosptials_df, lat_lng_df_cleaned, on='zip code', how='inner')

merged_data_df.head()

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,zip code,Hospital Referral Region (HRR) Description,Total Discharges,Average Covered Charges,...,Average Medicare Payments,country code,place,state,statecode,latitude,longitude,accuracy,Country,Continent
0,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,13,1.172866e+06,...,244457.923077,US,Birmingham,Alabama,AL,33.5062,-86.8003,4.0,United States,North America
1,003 - ECMO OR TRACH W MV 96+ HRS OR PDX EXC FA...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,92,6.715938e+05,...,135713.076087,US,Birmingham,Alabama,AL,33.5062,-86.8003,4.0,United States,North America
2,"004 - TRACH W MV 96+ HRS OR PDX EXC FACE, MOUT...",10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,54,4.501202e+05,...,88024.259259,US,Birmingham,Alabama,AL,33.5062,-86.8003,4.0,United States,North America
3,005 - LIVER TRANSPLANT W MCC OR INTESTINAL TRA...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,16,3.018496e+05,...,60141.375000,US,Birmingham,Alabama,AL,33.5062,-86.8003,4.0,United States,North America
4,"011 - TRACHEOSTOMY FOR FACE,MOUTH & NECK DIAGN...",10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,15,2.041137e+05,...,38319.400000,US,Birmingham,Alabama,AL,33.5062,-86.8003,4.0,United States,North America

In [16]:
#dropping repeat column names
merged_data_df = merged_data_df.drop(columns=['country code', 'place', 'state', 'statecode', 'accuracy'])

merged_data_df.head()

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,zip code,Hospital Referral Region (HRR) Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments,latitude,longitude,Country,Continent
0,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,13,1.172866e+06,251876.307692,244457.923077,33.5062,-86.8003,United States,North America
1,003 - ECMO OR TRACH W MV 96+ HRS OR PDX EXC FA...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,92,6.715938e+05,145120.956522,135713.076087,33.5062,-86.8003,United States,North America
2,"004 - TRACH W MV 96+ HRS OR PDX EXC FACE, MOUT...",10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,54,4.501202e+05,94398.092593,88024.259259,33.5062,-86.8003,United States,North America
3,005 - LIVER TRANSPLANT W MCC OR INTESTINAL TRA...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,16,3.018496e+05,68752.250000,60141.375000,33.5062,-86.8003,United States,North America
4,"011 - TRACHEOSTOMY FOR FACE,MOUTH & NECK DIAGN...",10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,15,2.041137e+05,39945.200000,38319.400000,33.5062,-86.8003,United States,North America

In [17]:
#Checking to see if the important was successful
merged_data_df.count()

DRG Definition                                202656
Provider Id                                   202656
Provider Name                                 202656
Provider Street Address                       202656
Provider City                                 202656
Provider State                                202656
zip code                                      202656
Hospital Referral Region (HRR) Description    202656
Total Discharges                              202656
Average Covered Charges                       202656
Average Total Payments                        202656
Average Medicare Payments                     202656
latitude                                      202656
longitude                                     202656
Country                                       202656
Continent                                     202656
dtype: int64

In [18]:
#Confirming whether we have to change the Dtype
merged_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202656 entries, 0 to 202655
Data columns (total 16 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   DRG Definition                              202656 non-null  object
 1   Provider Id                                 202656 non-null  int64
 2   Provider Name                               202656 non-null  object
 3   Provider Street Address                     202656 non-null  object
 4   Provider City                               202656 non-null  object
 5   Provider State                              202656 non-null  object
 6   zip code                                    202656 non-null  object
 7   Hospital Referral Region (HRR) Description  202656 non-null  object
 8   Total Discharges                            202656 non-null  int64
 9   Average Covered Charges                     202656 non-null  float64
 10  Average Total Payments                      202656 non-null  float64
 11  Average Medicare Payments                   202656 non-null  float64
 12  latitude                                    202656 non-null  float64
 13  longitude                                   202656 non-null  float64
 14  Country                                     202656 non-null  object
 15  Continent                                   202656 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 24.7+ MB

In [19]:
#Previewing the longitude values to check for NaN values
merged_data_check = merged_data_df['longitude'].value_counts()

merged_data_check

longitude
-95.4010     610
-73.9588     591
-85.7476     579
-92.3455     553
-97.3184     456
            ...
-82.1325       1
-80.1897       1
-82.4856       1
-83.2319       1
-122.5108      1
Name: count, Length: 2968, dtype: int64

In [20]:
#Double check longitude values for NaN values
check_nan = merged_data_df['latitude'].isnull().values.any()

check_nan

False