In [1]:
# Import the dependency.
import pandas as pd
from pathlib import Path

In [2]:
#importing lat and lng data from our North America dataset

lat_lng = Path("../Data/zip_to_lat_lon_North_America.csv")

lat_lng_df = pd.read_csv(lat_lng, low_memory=False)

lat_lng_df.tail()

,country code,postal code,place,state,statecode,province_or_county,province_or_countycode,community,communitycode,latitude,longitude,accuracy,Country,Continent
189886,VI,801,St Thomas,Vi,78,St. Thomas,30.0,NaN,NaN,18.3484,-64.9740,6.0,U.S. Virgin Islands,North America
189887,VI,802,St Thomas,Vi,78,St. Thomas,30.0,NaN,NaN,18.3387,-64.9160,6.0,U.S. Virgin Islands,North America
189888,VI,803,St Thomas,Vi,78,St. Thomas,30.0,NaN,NaN,18.3223,-64.9637,NaN,U.S. Virgin Islands,North America
189889,VI,804,St Thomas,Vi,78,St. Thomas,30.0,NaN,NaN,18.3223,-64.9637,NaN,U.S. Virgin Islands,North America
189890,VI,805,St Thomas,Vi,78,St. Thomas,30.0,NaN,NaN,18.3223,-64.9637,NaN,U.S. Virgin Islands,North America

In [3]:
#Previewing the column names and counts
lat_lng_df.count()

country code              189891
postal code               189891
place                     189891
state                     188801
statecode                 188803
province_or_county        187347
province_or_countycode    186612
community                  51700
communitycode              51700
latitude                  189891
longitude                 189891
accuracy                  189280
Country                   189891
Continent                 189891
dtype: int64

In [4]:
#get only the necessary column names
lat_lng_df_cleaned = lat_lng_df.loc[lat_lng_df['country code'] == 'US', ['postal code', 'latitude', 'longitude']]

lat_lng_df_cleaned.head()

       postal code  latitude  longitude
148405       99553   54.1430  -165.7854
148406       99571   55.1858  -162.7211
148407       99583   54.8542  -163.4113
148408       99612   55.0628  -162.3056
148409       99661   55.3192  -160.4914

In [5]:
#confirming column names were dropped 
lat_lng_df_cleaned.count()

postal code    41470
latitude       41470
longitude      41470
dtype: int64

In [7]:
#Renaming column name and data type to prepare the dataframe for merging 
lat_lng_df_cleaned = lat_lng_df_cleaned.rename(columns={'postal code': 'zip code'})
lat_lng_df_cleaned['zip code'] = lat_lng_df_cleaned['zip code'].astype(int)
lat_lng_df_cleaned.head()

        zip code  latitude  longitude
148405     99553   54.1430  -165.7854
148406     99571   55.1858  -162.7211
148407     99583   54.8542  -163.4113
148408     99612   55.0628  -162.3056
148409     99661   55.3192  -160.4914

In [9]:
#Importing our second dataframe, which contains information on hospitals and providers
hospitals_data = Path("../Data/Medicare_Provider_Charge_Inpatient_DRGALL_FY2014.xlsx")

hospitals_df = pd.read_excel(hospitals_data, header = 5)

hospitals_df.head()

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region (HRR) Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,13,1.172866e+06,251876.307692,244457.923077
1,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,30103,MAYO CLINIC HOSPITAL,5777 EAST MAYO BOULEVARD,PHOENIX,AZ,85054,AZ - Phoenix,20,4.375313e+05,240422.800000,133509.550000
2,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,50108,SUTTER GENERAL HOSPITAL,2801 L STREET,SACRAMENTO,CA,95816,CA - Sacramento,25,8.156741e+05,233197.480000,221681.800000
3,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,50262,RONALD REAGAN U C L A MEDICAL CENTER,757 WESTWOOD PLAZA,LOS ANGELES,CA,90095,CA - Los Angeles,14,1.499044e+06,415968.785714,366608.928571
4,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,50441,STANFORD HOSPITAL,300 PASTEUR DRIVE,STANFORD,CA,94305,CA - San Mateo County,23,2.238699e+06,420865.478261,403453.652174

In [10]:
#looking at the count and column names
hospitals_df.count()

DRG Definition                                202656
Provider Id                                   202656
Provider Name                                 202656
Provider Street Address                       202656
Provider City                                 202656
Provider State                                202656
Provider Zip Code                             202656
Hospital Referral Region (HRR) Description    202656
Total Discharges                              202656
Average Covered Charges                       202656
Average Total Payments                        202656
Average Medicare Payments                     202656
dtype: int64

In [13]:
# see the data types
hospitals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202656 entries, 0 to 202655
Data columns (total 12 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   DRG Definition                              202656 non-null  object
 1   Provider Id                                 202656 non-null  int64
 2   Provider Name                               202656 non-null  object
 3   Provider Street Address                     202656 non-null  object
 4   Provider City                               202656 non-null  object
 5   Provider State                              202656 non-null  object
 6   Provider Zip Code                           202656 non-null  int64
 7   Hospital Referral Region (HRR) Description  202656 non-null  object
 8   Total Discharges                            202656 non-null  int64
 9   Average Covered Charges                     202656 non-null  float64
 10  Average Total Payments                      202656 non-null  float64
 11  Average Medicare Payments                   202656 non-null  float64
dtypes: float64(3), int64(3), object(6)
memory usage: 18.6+ MB

In [14]:
#Renaming the zip code column to prepare it for a merge 
hospitals_df = hospitals_df.rename(columns={'Provider Zip Code': 'zip code'})

hospitals_df.head()

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,zip code,Hospital Referral Region (HRR) Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,13,1.172866e+06,251876.307692,244457.923077
1,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,30103,MAYO CLINIC HOSPITAL,5777 EAST MAYO BOULEVARD,PHOENIX,AZ,85054,AZ - Phoenix,20,4.375313e+05,240422.800000,133509.550000
2,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,50108,SUTTER GENERAL HOSPITAL,2801 L STREET,SACRAMENTO,CA,95816,CA - Sacramento,25,8.156741e+05,233197.480000,221681.800000
3,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,50262,RONALD REAGAN U C L A MEDICAL CENTER,757 WESTWOOD PLAZA,LOS ANGELES,CA,90095,CA - Los Angeles,14,1.499044e+06,415968.785714,366608.928571
4,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,50441,STANFORD HOSPITAL,300 PASTEUR DRIVE,STANFORD,CA,94305,CA - San Mateo County,23,2.238699e+06,420865.478261,403453.652174

In [16]:
#merging the two dataframes together based on the column 'zip code'
merged_data_df = pd.merge(hospitals_df, lat_lng_df_cleaned, on='zip code', how='inner')

merged_data_df.head()

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,zip code,Hospital Referral Region (HRR) Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments,latitude,longitude
0,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,13,1.172866e+06,251876.307692,244457.923077,33.5062,-86.8003
1,003 - ECMO OR TRACH W MV 96+ HRS OR PDX EXC FA...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,92,6.715938e+05,145120.956522,135713.076087,33.5062,-86.8003
2,"004 - TRACH W MV 96+ HRS OR PDX EXC FACE, MOUT...",10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,54,4.501202e+05,94398.092593,88024.259259,33.5062,-86.8003
3,005 - LIVER TRANSPLANT W MCC OR INTESTINAL TRA...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,16,3.018496e+05,68752.250000,60141.375000,33.5062,-86.8003
4,"011 - TRACHEOSTOMY FOR FACE,MOUTH & NECK DIAGN...",10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,15,2.041137e+05,39945.200000,38319.400000,33.5062,-86.8003

In [17]:
#Confirming whether we have to change the Dtype
merged_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202656 entries, 0 to 202655
Data columns (total 14 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   DRG Definition                              202656 non-null  object
 1   Provider Id                                 202656 non-null  int64
 2   Provider Name                               202656 non-null  object
 3   Provider Street Address                     202656 non-null  object
 4   Provider City                               202656 non-null  object
 5   Provider State                              202656 non-null  object
 6   zip code                                    202656 non-null  int64
 7   Hospital Referral Region (HRR) Description  202656 non-null  object
 8   Total Discharges                            202656 non-null  int64
 9   Average Covered Charges                     202656 non-null  float64
 10  Average Total Payments                      202656 non-null  float64
 11  Average Medicare Payments                   202656 non-null  float64
 12  latitude                                    202656 non-null  float64
 13  longitude                                   202656 non-null  float64
dtypes: float64(5), int64(3), object(6)
memory usage: 21.6+ MB

In [18]:
# see our provider ids
merged_data_df['Provider Id'].value_counts()

Provider Id
100007    413
330101    395
70022     330
260032    321
80001     317
         ...
150182      1
260230      1
50546       1
50710       1
50547       1
Name: count, Length: 3276, dtype: int64

In [19]:
# see extract DRG definition sort it by value counts then export to csv
drg_difinitions = merged_data_df['DRG Definition'].value_counts()
drg_difinitions.to_csv('../Data/drg_difinitions.csv')

In [20]:
# extract the drg id from the drg finitition and place in it's own row
merged_data_df["DRG Id"] = merged_data_df["DRG Definition"].map(lambda x: x.split(' - ')[0])
merged_data_df.head()

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,zip code,Hospital Referral Region (HRR) Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments,latitude,longitude,DRG Id
0,001 - HEART TRANSPLANT OR IMPLANT OF HEART ASS...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,13,1.172866e+06,251876.307692,244457.923077,33.5062,-86.8003,001
1,003 - ECMO OR TRACH W MV 96+ HRS OR PDX EXC FA...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,92,6.715938e+05,145120.956522,135713.076087,33.5062,-86.8003,003
2,"004 - TRACH W MV 96+ HRS OR PDX EXC FACE, MOUT...",10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,54,4.501202e+05,94398.092593,88024.259259,33.5062,-86.8003,004
3,005 - LIVER TRANSPLANT W MCC OR INTESTINAL TRA...,10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,16,3.018496e+05,68752.250000,60141.375000,33.5062,-86.8003,005
4,"011 - TRACHEOSTOMY FOR FACE,MOUTH & NECK DIAGN...",10033,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,AL - Birmingham,15,2.041137e+05,39945.200000,38319.400000,33.5062,-86.8003,011

In [23]:
# extract the DRG information from database
drg_df = merged_data_df[["DRG Id", "DRG Definition"]].groupby('DRG Id').first().reset_index()
drg_df["Category"] = "Other"
drg_df.info()
drg_df.to_csv('../Data/drg.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564 entries, 0 to 563
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DRG Id          564 non-null    object
 1   DRG Definition  564 non-null    object
 2   Category        564 non-null    object
dtypes: object(3)
memory usage: 13.3+ KB

In [27]:
# extract the provider information from the merged dataframe
provider_columns = ["Provider Id", "Provider Name", "Provider Street Address", 
                    "Provider City", "Provider State", "zip code", "latitude", "longitude"]

providers_df = merged_data_df[provider_columns].groupby('Provider Id').first().reset_index()
providers_df.info()
providers_df.to_csv('../Data/providers.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Provider Id              3276 non-null   int64
 1   Provider Name            3276 non-null   object
 2   Provider Street Address  3276 non-null   object
 3   Provider City            3276 non-null   object
 4   Provider State           3276 non-null   object
 5   zip code                 3276 non-null   int64
 6   latitude                 3276 non-null   float64
 7   longitude                3276 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 204.9+ KB

In [26]:
# extract the drg_records from the merged dataframe
drg_columns = ["DRG Id", "Provider Id", "Total Discharges", "Average Total Payments", 
                "Average Medicare Payments", "Average Covered Charges"]
drg_records_df = merged_data_df[drg_columns]
drg_records_df.info()
drg_records_df.to_csv('../Data/drg_records.csv', index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202656 entries, 0 to 202655
Data columns (total 6 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   DRG Id                     202656 non-null  object
 1   Provider Id                202656 non-null  int64
 2   Total Discharges           202656 non-null  int64
 3   Average Total Payments     202656 non-null  float64
 4   Average Medicare Payments  202656 non-null  float64
 5   Average Covered Charges    202656 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 9.3+ MB